@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-image: linear-gradient(#ffffff, #66c3ff);
}

header {
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://as1.ftcdn.net/jpg/01/15/57/50/500_F_115575013_bGdWptTXmcWnYIYT3W9JyDWi4mTQHyGj.jpg');
  border-radius: 0 0 100% 100%;
  box-shadow: #66c3ff 3px 3px;
}

header h1 {
  margin: 0;
  padding: 0;
  font-size: 3rem;
  color: #03045e;
  font-family: 'Indie Flower', cursive;
  font-size: 70px;
  text-shadow: 2px 2px 4px #000;
}

section {
  display: flex;
  justify-content: space-around;
}

.scoreboard {
  padding-top: 1.5rem;
  font-family: 'Indie Flower', cursive;
  font-style: oblique;
  font-weight: 1000;
  font-size: 50px;
  background: -webkit-linear-gradient(#03045e, #66c3ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.player1 {
  padding-left: 12rem;
}

.player2 {
  padding-right: 12rem;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  color: #03045e;
}

.endButtonPlayerOne button {
  background-color: red;
  color: black;
}

.endButtonPlayerTwo button {
  color: #03045e;
}

fieldset {
  border: none;
}

fieldset button {
  border: none;
  background-color: #03045e;
  border-radius: 20%;
}

fieldset img {
  background-color: #03045e;
}